@font-face{
  font-family: 'Righteous-Regular';
  font-weight: 400;
  // font-style: normal;
  src: local('Righteous-Regular'),
        url('../fonts/Righteous-Regular.woff2') format('woff2'),
        url('../fonts/Righteous-Regular.woff') format('woff');
  font-display: swap;      
}
