$burger-top: #da9545;
$title: #231F20;
$burger-bot: #9f631f;
$burger-inn: #27a906;
$foot-bg: #ffeba5;

%Righteous-400{
  font-family: 'Righteous-Regular';
  font-weight: 400;
}


%Righteous-100{
  font-family: 'Righteous-Regular';
  font-weight: 100;
}

