@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


@mixin displayCenter {
  display: grid;
  place-items: center;

}


body{
  @include displayCenter();

}

.countdown__container{
  margin-top: 15px;
}

.logo{
  width: 450px;
  padding-bottom: 50px;
  display: block;
  margin: auto;
  
}
.burger{
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  color: rgb(205, 153, 20);
  font-stretch: extra-expanded;
  text-shadow: 1px 2px black;
  
}
.date{
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
  color: rgb(203, 166, 71);
  text-shadow: 1px 2px black;
}

.laiks{
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  color: rgb(205, 153, 20);
  border-bottom: 20px solid #f1c720;
  border-style: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
  text-shadow: 1px 1px rgb(90, 77, 77);
}


.countdown__time{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
  z-index: 100;

}
.days,
.hours,
.minutes,
.seconds {
  width: 170px;
  height: 130px;
  padding: 10px;
  background-color: rgb(205, 153, 20);
  @include displayCenter();
  opacity: 70%;
  border-radius: 15%;
  box-shadow:
      0 0 0 2px rgb(248, 185, 25),
      0 0 0 4px rgb(221, 165, 22),
      0 0 0 6px rgb(170, 127, 16);
  
}

h1, h2{
  font-weight: 700;
  font-size: 75px;
  color: rgb(243, 208, 69);
  opacity: 75%;
  text-shadow: 1px 3px black;
  
}

h2{
  font-size: 15px;
  color: #fff;
  font-weight: 100;
}

.burgers{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -140px;
  z-index: -2;

}

.burg {
  animation: logo 20s linear infinite;
  z-index: -1;
}

.burg:nth-child(1){
  animation-delay: 2s;
  animation-duration: 12s;
  width: 130px;

}
.burg:nth-child(2){
  animation-delay: 4s;
  animation-duration: 19s;
  width: 80px;
}
.burg:nth-child(3){
  animation-delay: 1s;
  animation-duration: 18s;
  width: 65px;
}
.burg:nth-child(4){
  animation-delay: 8s;
  animation-duration: 15s;
  width: 95px;
}
.burg:nth-child(5){
  animation-delay: 5s;
  animation-duration: 18s;
  width: 70px;
}
.burg:nth-child(6){
  animation-delay: 6s;
  animation-duration: 20s;
  width: 55px;
}
.burg:nth-child(7){
  animation-delay: 2.5s;
  width: 110px;
  animation-duration: 14s;
}



@keyframes logo{
  0%{
    transform: translateY(140vh);
    opacity: 0;
  }

  50%{
    opacity: 0.4;
  }
  75%{
    opacity: 0.8;
  }
  100%{
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.subscribe{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.form {
 display: flex;
 justify-content: center;
 margin-top: 10px;

}

.input{
  width: 300px;
  height: 40px;
  border: 0;
  outline: none;
  font-size: 19px;
  background-color: #efefef;
  display: block;
  border-radius: 5%;
  font-weight: 100;
  
}

.button{
  cursor: pointer;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10%;
  margin-left: 5px;
  display: block;
}
.send {
  width: 40px;
  height: 25px;
}

span{
  color: rgb(15, 213, 55);
  display: block;
  margin-top: 5px;
}
@import 'media';